<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--CSS-->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"
        integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Arima+Madurai" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <title>Scraping Onions</title>

</head>

<nav>
    <div class="nav-wrapper white">
        {{!-- <a href="https://www.theonion.com/" target="_blank" class="brand-logo center"><img src="img/onion-illust.svg" style="height: 80px"></a> --}}
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <div class="row">
            <li><a class="waves-effect" href="/scrape" id="scraperBtn">Scrape the Onions!</a></li>
            <li><a class="waves-effect" href="/clear" id="clearDBBtn">Trash the Onions!</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" id="homeLink">Home</a></li>
            <li><a href="/saved" id="savedLink">Saved Onions</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            
        </ul>
    </div>
</nav>

<main>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/onions-smaller.jpg">
    </div>
</div>

<div class="section z-depth-3 white">

<body>
    {{{body}}}
</body>

</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="img/onion-bulbs.jpg">
    </div>
</div>
</main>

<footer class="page-footer white">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
            <a class="left copyright" href="https://k8blanco.github.io">© 2019 k8blanco</p>
            <a class="right footerLink" href="https://github.com/k8blanco">Github <i class="fab fa-github-alt"></i></a>
        </div>
        </div>
    </div>
</footer>


<!--JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>