
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="!#">Home</a></li>
            <li><a href="!#">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn" id="scraperBtn">Scrape Articles</a></li>
        </ul>
        
    </div>
</nav>

<main>

    <div id="wrapper">
        <h1>Note Scraper</h1>
        <h2><i>iF yOu CaN dO tHiS, tHe HoMeWoRk ShOuLd Be No PrObLeM.</i></h2>
        <div id="instructions"><p>Instructions Here</p></div>
        <div id="articles">
            {{#each articles}}
                <div


        </div>
        <div id="comments"></div>
    </div>

</main>

{{!-- * Headline - the title of the article

 * Summary - a short summary of the article

 * URL - the url to the original article --}}



<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 k8blanco
            <a class="grey-text text-lighten-4 right" href="https://github.com/k8blanco">Github</a>
        </div>
    </div>
</footer>