body {
    font-family: 'Poiret One', cursive;
}
.heading {
    font-family: 'Arima Madurai', cursive;
    font-size: 70px;
    text-transform: uppercase;
}

.byline {
    font-size: 35px;
    margin-bottom: 3%;
}

.fa-hand-point-right,
.fa-hand-point-left {
    color: #f4ab58;
}

nav {
    height: 100px;
    opacity: 0.8;
}

footer {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.copyright {
    color: #e67a31;
    padding-top: 10px;
}

.footerLink {
    color: #e67a31;
    padding-top: 5px;
}

.btn {
    background-color:#f4ab58;
}

.btn:hover {
    background-color: #e67a31;
}

.btn:focus {
    background-color: #e67a31;
}

.btn:visited {
    background-color:#f4ab58;
}

.cardBtn {
    font-family: 'Arima Madurai', cursive;
    color: #f4ab58;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
}

.cardBtn:hover {
    background-color: #e67a31;
}

.cardBtn:focus{
    background-color: #e67a31;
}

.cardBtn:visited {
    background-color: #e67a31;
}

#savedLink {
    color: #f4ab58;
    margin-top: 15px;
    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    font-size: 20px;
    /* margin-left: 10%; */
}

#homeLink {
    color: #f4ab58;
    margin-top: 15px;
    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    font-size: 20px;
}

#scraperBtn {
    font-family: 'Arima Madurai', cursive;
    color: #f4ab58;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
}

#clearDBBtn {
    font-family: 'Arima Madurai', cursive;
    color: #f4ab58;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
}

.parallax-container {
    height: 500px;
}

h4 {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: black;
    font-weight: 700;
}

h4:hover {
    color:#f4ab58;
}

.summary {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

#modalFooter {
    background-color:#f4ab58;
}

#saveCommentBtn {
    color: white;
}

#saveCommentBtn:hover {
    background-color: beige;
    color: #f4ab58;
}

#saveCommentBtn:focus {
    background-color: beige;
    color: #f4ab58;
}

#saveCommentBtn:visited {
    color: white;
}

.modal {
    background-image: url("/img/onion-bulbs.jpg");
}

#commentHeading {
    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
}

#commentHeading:hover {
    color: black;
}

.commentDiv {
    padding-top: 20px;
}

#commentText {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.section {
    background: rgb(244,171,88); /* for browsers w/o RGBA support */
    background: rgba(244,171,88,0.55);
}

.name {
    font-family: 'Arima Madurai', cursive;
    font-size: 25px;
    color: #f4ab58;
    margin-top: 8px; 
}

.body {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.commentDelete {
    margin-bottom: 10px;
}
